mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="user's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="What's happening?")
            .buttonsContainer 
                button#submitPostButton.postButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src="/images/leaf.png", alt="")

                    h5#replyModalLabel.modal-title Reply #{userLoggedIn.username}
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="user's profile picture")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="What's happening?")
                .modal-footer
                    button#submitReplyButton.postButton(type='button', disabled="") Reply

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src="/images/leaf.png", alt="")

                    h5#deletePostModalLabel.modal-title Delete the post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p You won't be able to delete this
                .modal-footer
                    button#deletePostButton.postButton(type='button') Delete

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createPinnedPostModal()
    +createUnpinPostModal()

mixin createFollowButton(user, isFollowing)
    - const text = isFollowing ? "Following" : "Follow"
    - const buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - const className = isSelected ? "tab active" : "tab"
    a(href=href, class = className)
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src="/images/leaf.png", alt="")

                    h5#imageUploadModalLabel.modal-title Upload a new profile picture
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#imagePreview(src="", alt="")
                .modal-footer
                    button#imageUploadButton.postButton(type='button') Save

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src="/images/leaf.png", alt="")

                    h5#coverPhotoUploadModalLabel.modal-title Upload a new cover photo
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#coverPhoto(type="file", name="coverPhoto")
                    .imagePreviewContainer
                        img#coverPhotoPreview(src="", alt="")
                .modal-footer
                    button#coverPhotoUploadButton.postButton(type='button') Save

mixin createPinnedPostModal()
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src="/images/leaf.png", alt="")

                    h5#confirmPinModalLabel.modal-title Pin this post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body.pin-body
                    p. 
                        This post will appear at the top of your profile. #[br] You can only pin one post.
                .modal-footer
                    button#confirmPinButton.postButton(type='button') Pin

mixin createUnpinPostModal()
    #unpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src="/images/leaf.png", alt="")

                    h5#unpinModalLabel.modal-title Unpin this post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p. 
                        This post will be unpinned.
                .modal-footer
                    button#unpinButton.postButton(type='button') Pin

mixin createChatImage(chatData, userLoggedIn)
    if (!chatData)
        return
    
    - let i = 0
    - const maxImagesToShow = 2
    - let remainingUsers = chatData.users.length - maxImagesToShow
    - remainingUsers--

    .chatImagesContainer
        if remainingUsers > 0
            .userCount
                span +#{remainingUsers}
        each user in chatData.users
            if chatData.users.length != 1 && user._id == userLoggedIn._id
                - continue
            else if i >= maxImagesToShow
                - break
            img(src=user.profilePic, alt="User's profile picture", title=user.firstName)
            - i++

mixin createChatNameModal(chat)
    #chatNameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='chatNameModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src="/images/leaf.png", alt="")

                    h5#chatNameModalLabel.modal-title Change the chat name
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#chatNameTextbox(type="text", placeholder="Enter a name for this chat", value=chat.chatname)
                .modal-footer
                    button#chatNameButton.postButton(type='button') Save
